html,
body {
  padding: 0;
  margin: 0;
  font-family: "Pirelli", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: "Pirelli";
  src: url(../public/fonts/PirelliALLVIP.ttf);
}

@font-face {
  font-family: "Winding";
  src: url(../public/fonts/wingding.ttf);
}

:root {
  --primary: #c9ff00;
  --primaryTrans: #c8ff00ad;
}

::selection {
  background: inherit;
  color: inherit;
}

::-moz-selection {
  background: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main .webcam {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.embed-container {
  min-height: 100vh;
  min-width: 313vw;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
  z-index: -100;
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*  I N F O  */

main .info {
  position: fixed;
  top: 0;
  width: calc(100vw - 20px);
  z-index: 100;
  margin: 10px;
  height: 80vh;
  padding-bottom: 15vh;
  background: linear-gradient(
    var(--primary) 0%,
    var(--primaryTrans) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: height 0.5s ease;
  cursor: pointer;
  overflow: hidden;
}

main .closed {
  position: fixed;
  top: 0;
  width: calc(100vw - 20px);
  z-index: 100;
  margin: 10px;
  height: 100px;
  background: linear-gradient(var(--primary) 0%, rgba(0, 0, 0, 0) 100%);
  transition: height 0.5s ease;
  overflow: hidden;
  cursor: pointer;
}

main div {
  /* transition: opacity 0.1s ease; */
}

.logo {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 300px;
  z-index: 500;
}

.headMarqueeWrapper {
  display: flex;
  justify-content: flex-end;
}

.headMarqueeInner {
  width: calc(100vw - 300px);
}

.infoContent {
  height: 100%;
  opacity: 1;
  overflow-y: scroll;
}

.hide {
  opacity: 0;
}

.liveTicker {
  font-family: acumin-pro;
  font-size: 13pt;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  width: 100%;
  white-space: nowrap;
  text-transform: uppercase;
}

.headLiveTicker {
  font-family: acumin-pro;
  font-size: 13pt;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  width: calc(100vw -300px);
  white-space: nowrap;
  text-transform: uppercase;
}

tr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.program {
  font-family: acumin-pro;
  font-size: 13pt;
  line-height: 15pt;
  font-weight: 500;
  letter-spacing: 0.2px;
  width: 100%;
}

.col1,
.col2,
.col3,
.col4 {
  width: 25%;
  min-height: 13pt;
}

/* H E A D L I N E S */

main .headlines {
  width: calc(100vw - 20px);
  height: 80vh;
  position: fixed;
  top: 0px;
  margin: 10px;
  display: flex;
}

.headlineWrapper {
  width: 37.5%;
  height: 12.5vw;
  display: flex;
}

.line {
  width: 66.6%;
  height: 100%;
  background: white;
  /* overflow: hidden; */
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  flex-direction: column;
}

h1 {
  margin-top: -17px;
  margin-left: 1px;
  font-weight: normal;
  font-family: Pirelli;
  font-size: 80px;
  font-variation-settings: "wdth" 120;
}

.weiter {
  font-family: acumin-pro;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  padding-right: 4px;
  font-size: 20px;
  bottom: 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.weiter div:hover {
  color: var(--primary);
  cursor: pointer;
}

.image {
  width: 33.3%;
  height: 100%;
  overflow: hidden;
}

/* D A T E N */

main .daten {
  width: calc(100vw - 20px);
  height: 28vh;
  font-family: acumin-pro;
  font-size: 8px;
  position: fixed;
  bottom: 0px;
  /* margin: 10px; */
  z-index: 50;
  color: var(--primary) !important;
  background: linear-gradient(var(--primary) 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
}

.graphWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  margin: 50px 0;
}

.recharts-default-tooltip {
  background: none !important;
  border: none !important;
}

.graphOuter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.currentDate {
  height: 5px;
}

.currentValue {
  font-size: 13pt;
  line-height: 0;
  height: 5px;
  padding-right: 15px;
}

.dataWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 45px;
}

.stocksWrapper {
  width: 50%;
  overflow-y: scroll;
  height: 100%;
}

/* H O R O S K O P  */

.horoskopWrapper {
  width: 50%;
  overflow: scroll;
}

.horoskopOuter {
  margin: 10px 0 28px;
}

.horoskopOuter p {
  font-size: 10.5pt;
}

.horoskopOuter h1 {
  font-family: acumin-pro;
  font-size: 20pt;
  line-height: 50pt;
  text-transform: capitalize;
}

.zodiacSign {
  font-family: Winding;
  font-size: 100px;
}

.zodiacWrapper {
  margin-left: 10px;
  padding-bottom: 40px;
}

.horoskopOuter hr {
  border: 0.5px solid var(--primary);
  opacity: 0.5
}

.zodiacWrapper table td {
  width: 50%;
  height: 15px;
}

.zodiacWrapper table {
  width: 100%;
}

.zodiacHeader {
  display: flex;
  height: 100px;
}

.zodiacHeader div,
.zodiacRow div {
  width: 30%;
}

.zodiacRow {
  display: flex;
  height: 15px;
}
